
.sonata-bc {
    .navbar {
        .admin_locale_switcher {
            padding: 1px 0px 0px 0px;
            text-align: right;
            margin-right: 15px;
            float: left;
            a {
                margin-right: 0px;
                padding: 2px;
                opacity: 0.5;

                &.active {
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
        div.user-navigation-block {
            div.username {
                float: left;
            }
            a.logout-link {
                padding: 5px;
            }
        }
    }

    div.dashboard-block {
        border: 1px solid #cdcdcd;
        margin: 0px 0 20px 0;
        padding: 0px;

        .dashboard-block-title {
            border-bottom: 1px solid #cdcdcd;
            background-color: #ededed;

            h3 {
                margin: 0px;
                font-size: 16px;
                line-height: 35px;
                padding-left: 25px;
            }
        }
        .dashboard-block-content {
            padding: 15px 25px;
        }
    }
}


//.fdqsf{
//    div.dashboard-block {
//        border: 1px solid #cdcdcd;
//        margin: 0px 0 20px 0;
//        padding: 0px;
//        .border-radius(3px);
//        .box-shadow(0 13px 5px -10px #AAA);
//
//        .dashboard-block-title {
//            border-bottom: none;
//            #gradient > .vertical(#ffffff, #ededed);
//
//            h3 {
//                font-weight: bold;
//                font-size: 14px;
//                font-family: @headingsFontFamily;
//                line-height: 35px;
//                color: @headingsColor;
//                margin: 0px;
//                cursor: pointer;
//                text-shadow: 1px 1px 0 #fff;
//                padding-left: 25px;
//                text-transform: capitalize;
//            }
//        }
//        .dashboard-block-content {
//            padding: 15px 25px;
//            border-top: 1px solid #CECECE;
//            background: #FFF url(@imagesThemePath + 'background/inner-shadow.png') repeat-x;
//
//            h4 {
//                margin: 0 0 10px 0;
//                font-family: @headingsFontFamily;
//                color: @headingsColor;
//                text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
//                font-weight: normal;
//            }
//            a.link {
//                margin-left: 10px;
//            }
//            .block-content-block {
//                padding-left: 65px;
//                min-height: 60px;
//                background-position: 0 7px;
//                background-color: transparent;
//                background-repeat: no-repeat;
//            }
//        }
//
//    }
//
//}